<h1>Protagonists <button mat-button aria-label (click)="add()"><mat-icon aria-hidden="false" style="color:green;">add_circle</mat-icon></button></h1>

<table mat-table [dataSource]="protagonists"  matSort class="mat-elevation-z8">

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
    <td mat-cell *matCellDef="let protagonist"> {{protagonist.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
    <td mat-cell *matCellDef="let protagonist"> {{protagonist.name}} </td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Link </th>
    <td mat-cell *matCellDef="let protagonist"> <div *ngIf="protagonist.link!==undefined"><a href={{protagonist.link}} aria-label target="_blank"><mat-icon aria-hidden="false">link</mat-icon></a> </div> </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Type </th>
    <td mat-cell *matCellDef="let protagonist">
      <div *ngIf="protagonist.type=='person'; else elseBlock">
        <mat-icon aria-hidden="false" title="{{protagonist.type}}">people</mat-icon>
      </div>
      <ng-template #elseBlock>
        <mat-icon aria-hidden="false" title="{{protagonist.type}}">domain</mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Photo </th>
      <td mat-cell *matCellDef="let protagonist">
        <div *ngIf="protagonist.photo!==undefined"><img
           src={{protagonist.photo}}
           alt={{protagonist.name}}
           height="100" width="100" >
        </div>
      </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Edit </th>
    <td mat-cell *matCellDef="let protagonist">
      <button mat-icon-button (click)="edit(protagonist)" title="Edit"><mat-icon aria-hidden="true" style="color:black;">edit</mat-icon></button>
      <button mat-icon-button (click)="delete(protagonist)" title="Delete"><mat-icon aria-hidden="true" style="color:red;">delete</mat-icon></button>
    </td>
  </ng-container>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
